*{
    font-family: 'Patua One', cursive;
    color: #ffff;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-negro1:#202020
}
body{
    background-color: var(--color-negro1);
}
@media all and (max-width: 767px){
    body{
        max-width: 767px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .logo-arg-cont{
        height: 20vh;
    }
    .logo-arg-cont img{
        height: 100%;
        position: relative;
        left: 3em;
    }
    h2{
        position:relative;
        bottom:2em;
        left:3em
    }
    h2 b{
        color:rgb(58, 158, 252);
    }
    #sol{
        color:rgb(218, 218, 152);
    }
    button{
        color:rgb(233, 233, 233);
        border: 2px solid rgb(218, 25, 25);
        background-color: var(--color-negro1);
        padding: 1em 2em;
        position: relative;
        left: 8.4em;
        bottom:2em;
    }
    nav ul{
        display: flex;

        position: relative;
    }
    nav ul li{
        margin: .5em 1.8em;
    }
    .icon{
        font-size: 30px;
    }
    .whatsapp{
        color:rgb(49, 221, 150);
    }
    .facebook{
        color:rgb(35, 72, 160)
    }
    .instagram{
        color:rgb(214, 62, 146)
    }
    .linkedin{
        color:rgb(40,100,200);
    }
    .banner-cont{
        height:30vh;
        margin: 1em;
    }
    #banner{
        height: 100%;
        width: 100%;
    }
    .datos-container{
        height: 60vh;
        position:relative;
        bottom: 2.5em;

    }
    #img-perfil{
        height: 10vh;
        margin:3em;
    }
    h1{
        position: relative;
        top:2em;
        text-align: center;
    }
    #img-perfil img{
        position:relative;
        left:7em;
        top:2em;
        height: 100%;
        border-radius:100% ;
        border: 3px solid #fff;
    }
}
@media all and (min-width:767px) and (max-width:1023px){
    body{
        max-width: 1023px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .logo-arg-cont{
        height: 25vh;
    }
    .logo-arg-cont img{
        height: 100%;
        position: relative;
        left: 10em;
    }
    h2{
        position:relative;
        bottom:1.5em;
        left:3em;
        font-size:50px;
    }
    h2 b{
        color:rgb(58, 158, 252);
    }
    #sol{
        color:rgb(218, 218, 152);
    }
    button{
        color:rgb(233, 233, 233);
        border: 2px solid rgb(218, 25, 25);
        background-color: var(--color-negro1);
        padding: 2em 5em;
        position: relative;
        left: 17em;
        bottom:1.5em;
    }
    nav ul{
        display: flex;

        position: relative;
    }
    nav ul li{
        margin: 1.5em 1.8em;
        position:relative;
        left: 10em;
    }
    .icon{
        font-size: 40px;
    }
    .whatsapp{
        color:rgb(49, 221, 150);
    }
    .facebook{
        color:rgb(35, 72, 160)
    }
    .instagram{
        color:rgb(214, 62, 146)
    }
    .linkedin{
        color:rgb(40,100,200);
    }
    .banner-cont{
        height:45vh;
        margin: 1em;
    }
    #banner{
        height: 100%;
        width: 100%;
    }
    .datos-container{
        height: 60vh;
        position:relative;
        bottom: 2.5em;
        display: flex;

    }
    #img-perfil{
        height: 10vh;
        margin:3em;
    }
    h1{
        position: relative;
        top:2em;
        text-align: center;
    }
    #img-perfil img{
        position:relative;
        left:2em;
        top:.5em;
        height: 100%;
        border-radius:100% ;
        border: 3px solid rgb(95, 31, 31);
    }
}
@media all and (min-width:1024px){
    .flex{
        display: flex;
        flex-direction: r;
    }
    .logo-arg-cont{
        height:10vh;
    }
    .logo-arg-cont img{
        height: 100%;
    }
    h2{
        position: relative;
        top:.5em;
    }
    h2 b{
        color:rgb(58, 158, 252);
    }
    #sol{
        color:rgb(218, 218, 152);
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    button{
        height: 5vh;
        width: 7vw;
        position: relative;
        left: 30em;
        top:1em;
        border:2px solid rgb(100,20,30);
        background-color: var(--color-negro1);
        color:rgb(150, 148, 148);
    }
    button:hover{
        border-color:rgb(218, 25, 25);
        color: #fff;
    }
    ul{
        display: flex;
        position: relative;
        left:30em;
    }
    ul li{
        margin: 1em;
    }
    .icon{
        font-size: 25px;
        color: rgb(109, 109, 109);
        background-color:var(--color-negro1);
        border-radius: 100%;
        padding: .2em .2em;
    }
    .whatsapp:hover{
        color:rgb(49, 221, 150);
        background-color: rgb(245, 243, 243);
    }
    .facebook:hover{
        color:rgb(35, 72, 160);
        background-color: rgb(245, 243, 243);
    }
    .instagram:hover{
        color:rgb(255, 255, 255);
        background: radial-gradient(rgb(192, 57, 158), rgb(240, 194, 95),rgb(130, 38, 243));
    }
    .linkedin:hover{
        color:rgb(40,100,200);
        background-color:rgb(245,243,243);
        
    }
    .banner-cont{
        height:90vh;
        margin: 1em;
    }
    #banner{
        height: 100%;
        width: 100%;
        border-radius:10%
    }
    .datos-container{
        margin: 2em;
        height: 60vh;
        position:relative;
        bottom: 1em;
        display: flex;
    }
    #img-perfil{
        height: 40vh;
        margin:3em;
        position: relative;
        bottom: 4.5em;
        right: 3em;
    }
    h1{
        position: relative;
        top:2em;
        text-align: center;
    }
    #img-perfil img{
        position:relative;
        left:2em;
        top:.5em;
        height: 100%;
        border-radius:100% ;
        border: 3px solid rgb(95, 31, 31);
    }
    
}